* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--sizeOfCube: 300px;
	--perspective: 500px;
	--margin: 80%;
}

html {
	font-size: 24px;
	font-family: monospace;
}

input, input::placeholder {
	font-size: inherit;
	color: inherit;
	font-family: inherit;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: black;
	overflow: hidden;
	background-color: #282a36;
}

.container {
	width: var(--sizeOfCube);
	height: var(--sizeOfCube);
	perspective: var(--perspective);
	position: relative;
}

.cube {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	animation: 13s linear infinite rotationCube;
}

.container > .cube {
	transform: rotateX(-45deg) rotateY(35deg);

}

.cube > .cube:hover {
	transform: translateY(-30%);
}

.sub {
	width: var(--margin);
	height: var(--margin);

	transition: .2s;
}

.side {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: absolute;
	transition: .3s;
	user-select: none;
	transition: all 200ms ease-in;
	background-color: #383a59;
	border: 5px solid #bd93f9;
}
.side:hover {
	box-shadow: inset 0px 0px 20px 5px #bd93f9;
}

.front {
	transform: rotateY(-90deg) translateX(50%) rotateY(90deg);
}
.back {
	transform: rotateY(-90deg) translateX(-50%) rotateY(90deg);
}
.left {
	transform: rotateY(90deg) rotateY(-90deg) translateX(-50%) rotateY(90deg);
}
.right {
	transform: rotateY(-90deg) rotateY(-90deg) translateX(-50%) rotateY(90deg);
}
.top {
	transform: rotateX(90deg) rotateY(-90deg) translateX(-50%) rotateY(90deg);
}
.bottom {
	transform: rotateX(90deg) rotateY(-90deg) translateX(-50%) rotateY(90deg);
}


.settings {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: white;
}

.settings > div {
	padding: 10px;
}